/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*
.env
.env.backup
.env.production
composer.lock
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.php_cs.cache
